# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/tunguz/200000-jeopardy-questions

Import the necessary libraries and create your dataframe(s).

In [3]:
# Import libraries
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

# Create dataframe
jeopardy_df = pd.read_csv("JEOPARDY_CSV.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [30]:
# Find nulls
jeopardy_df.isna().sum()

# Missing data in Answer column is extremely minimal. I can pull these rows to see if I can find the answer online myself.
answer_null = jeopardy_df.loc[jeopardy_df[' Answer'].isnull()]
answer_null
# All of the answers are actually 'Null' and python thought that meant they were missing. Too Funny!

# Missing data in Value column is very large. I could consider interpolate?
value_null = jeopardy_df.loc[jeopardy_df[' Value'].isnull()]
value_null
# 3,634 nulls
# Exploring the fact that the rows returned with nulls in the Value column may correspond simply to rounds of Finaly Jeopardy. This would make a lot more sense as 
# that round does not have a predefined value. The value is set/wagered by the player themselves.
final_jeopardy = jeopardy_df[jeopardy_df[' Round']=='Final Jeopardy!']
final_jeopardy
# 3,631 rows returned 

# Find null values in Value column that don't occur in Final Jeopardy!
null_values_other = jeopardy_df[(jeopardy_df[' Value'].isnull()) & (jeopardy_df[' Round']!='Final Jeopardy!')]
null_values_other
# Other nulls are present in Round of Tiebreakers which also do not have a predefined value.

,Show Number,Air Date,Round,Category,Value,Question,Answer
12305,5332,2007-11-13,Tiebreaker,CHILD'S PLAY,NaN,A Longfellow poem & a Lillian Hellman play abo...,The Children's Hour
184710,2941,1997-05-19,Tiebreaker,THE AMERICAN REVOLUTION,NaN,"On Nov. 15, 1777 Congress adopted this constit...",the Articles of Confederation
198973,4150,2002-09-20,Tiebreaker,LITERARY CHARACTERS,NaN,"Hogwarts headmaster, he's considered by many t...",Professor Dumbledore

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?